@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/c/font_4479797_0nqiozlgzrz.woff2?t=1710305844044') format('woff2'),
       url('//at.alicdn.com/t/c/font_4479797_0nqiozlgzrz.woff?t=1710305844044') format('woff'),
       url('//at.alicdn.com/t/c/font_4479797_0nqiozlgzrz.ttf?t=1710305844044') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e6e3";
}

.icon-close:before {
  content: "\e6e9";
}

.icon-liuliang:before {
  content: "\e600";
}

.icon-lishi:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-zanting:before {
  content: "\e603";
}

.icon-chuangzuo:before {
  content: "\e604";
}

.icon-gaojian:before {
  content: "\e605";
}

.icon-shuju:before {
  content: "\e606";
}

.icon-huodong:before {
  content: "\e607";
}

.icon-tv:before {
  content: "\e610";
}

.icon-scan:before {
  content: "\e611";
}

.icon-tshirt:before {
  content: "\e612";
}

.icon-moon:before {
  content: "\e613";
} 